@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,500&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
  overflow-x: hidden;
}
:root{
    --primary: #1f4094;
    --primary-dark: #183375;
}
section{
    margin-top: 40px;
    padding: 10px 0px 10px 0px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    opacity: 0.9;
}
h1,h3{
    text-align: left;
    text-transform: uppercase;
}
h2{
    text-transform: capitalize;
}

.fl{
    font-size: 18px;
    font-weight: bold;
}
.f-xs{
    font-size: 10px;
    position: relative;
    left: 5%;
}
.btn{
    background-color: var(--primary);
    padding: 8px 30px;
    border-radius: 100px;
    border:none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.btn:hover{
    background-color: var(--primary-dark);
    color: white;
}

/* Header */

nav{
    background-color:var(--primary);
}
nav i{
    color: white;
    font-size: 25px;
}
.navbar button{
    color: white;
    border-color: white;
}

/* Product Page */
#product .list-heading{
    background-color: var(--primary);
}
#product .list-group{
    border-radius: 0px;
}
#product .list-group-item{
    border-top: 1px solid black;
}
#product .card{
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
#product .accordion-item{
    border-color: black;
    border-width: 1px;
    border-radius: 0px;
}

/*About us*/
#ourproducts .list-heading{
    background-color: var(--primary);
    color: white;
}
/* Footer */
#footer{
    background-color: var(--primary);
    padding: 40px 0px 40px 0px;
    color: white;
}
#footer .row h5{
    padding-bottom: 25px;
}
#footer .btn-f{
    background-color: white;
    padding: 4px 0px;
    border-radius: 100px;
    border:none;
    color: var(--primary);
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    margin: 5px;
}
#footer .icons i{
    padding:5px;
    font-size: 23px;
}
#footer .form-control{
    border-radius:0px;
    border: 1px solid black;
}
#footer hr{
    height: 2px;
    color: white;
}
.logo img{
  filter: drop-shadow(0 0 0.4rem rgb(0, 0, 0));
}
#footer a{
  text-decoration: none;
  color: white;
}
#footer a:hover{
  opacity: 0.9;
}



/* Company Album */ 
  
  #about-company .content-slider {
    /* width: 100%; */
    /* height: 500px; */
  }
  
  #about-company  .slider {
    /* height: 500px; */
    /* width: 680px; */
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
  }
  
  #about-company .mask {
    overflow: hidden;
    height: 450px;
  }
  
  #about-company .slider ul {
    /* margin: 0;
    padding: 0; */
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  #about-company .slider li {
    /* height: 500px; */
    position: absolute;
    top: -325px;
    list-style: none;
  }
  
  #about-company  .slider li.anim1 {
    animation: cycle 15s linear infinite;
  }
  
  #about-company  .slider li.anim2 {
    animation: cycle2 15s linear infinite;
  }
  
  #about-company  .slider li.anim3 {
    animation: cycle3 15s linear infinite;
  }
  
  #about-company  .slider li.anim4 {
    animation: cycle4 15s linear infinite;
  }
  
  #about-company .slider li.anim5 {
    animation: cycle5 15s linear infinite;
  }
  
  #about-company  .slider:hover li {
    animation-play-state: paused;
  }
  
  @keyframes cycle {
    0% {
      top: 0px;
    }
    4% {
      top: 0px;
    }
    16% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    20% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    21% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    50% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    92% {
      top: -325px;
      opacity: 0;
      z-index: 0;
    }
    96% {
      top: -325px;
      opacity: 0;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes cycle2 {
    0% {
      top: -325px;
      opacity: 0;
    }
    16% {
      top: -325px;
      opacity: 0;
    }
    20% {
      top: 0px;
      opacity: 1;
    }
    24% {
      top: 0px;
      opacity: 1;
    }
    36% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    40% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    41% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle3 {
    0% {
      top: -325px;
      opacity: 0;
    }
    36% {
      top: -325px;
      opacity: 0;
    }
    40% {
      top: 0px;
      opacity: 1;
    }
    44% {
      top: 0px;
      opacity: 1;
    }
    56% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    60% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    61% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle4 {
    0% {
      top: -325px;
      opacity: 0;
    }
    56% {
      top: -325px;
      opacity: 0;
    }
    60% {
      top: 0px;
      opacity: 1;
    }
    64% {
      top: 0px;
      opacity: 1;
    }
    76% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    80% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    81% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle5 {
    0% {
      top: -325px;
      opacity: 0;
    }
    76% {
      top: -325px;
      opacity: 0;
    }
    80% {
      top: 0px;
      opacity: 1;
    }
    84% {
      top: 0px;
      opacity: 1;
    }
    96% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    100% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
  }
  
  /* Index -> product card */
.product-card {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  }
  
.product-card  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  
.product-card  div.item {
    position: absolute;
    width: 300px;
    min-height: 480px;
    background-color:var(--primary);
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 25px 20px -20px;
  }
  .product-card  div.item li{
    color: #fff;
  }

.product-card  div.item p{
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.product-card  div.item .btn-div{
  display: flex;
  justify-content: center;
  color: var(--primary);
}
.product-card  div.item button{
  background-color: #fff;
  color:var(--primary);
}
  
div.item:nth-of-type(1) {
  --offset: 1;
  background-color:var(--primary);
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #cc8517;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #048a9a;
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #2b2a29;
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #818181;
}
  
 .product-card input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
 .product-card input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
 .product-card input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
 .product-card input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
 .product-card input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
 .product-card input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
 .product-card input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
 .product-card input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
 .product-card input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }

  /* about -> vision & mission */
  .vision-mission{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('https://t3.ftcdn.net/jpg/01/03/45/84/360_F_103458413_SdAbpOr8OXXHKZHFgfZfSkhdXN3s7WaP.jpg');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  color: #fff;
  }
  .vision-mission .stmt-1, .stmt-2{
    text-transform: uppercase;
  }
  
  .vision-mission .stmt-1{
    background-color: #cc8517;
    padding: 2px 6px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px #8b5708;
    text-align: left;
  }
  .vision-mission .stmt-2{
    font-size: 30px;
    /* transform: scale(1,2); */
    /* line-height: 2em; */
    font-weight: 600;
    text-shadow: 2px 2px 5px black;
    text-align: left;
  }
  .vision-mission .stmt-3{
    text-shadow: 5px 5px 5px black;
    text-align: left;
  }



  /* vision-mission */
